.tc-required, .tc-fail {
	color:red;
}

.tc-warning {
	color: orange;
}

.tc-recommended, .tc-pass {
	color: green;
}

.tc-info {
	color: blue;
}

pre {
	white-space: pre-wrap;
}

.tc-success {
	margin: 1em;
	padding: 1em;
	background:#e6ffe2;
	border: 1px solid #c3c4c7;
	font-size: 16px;
}

form {
	margin: 1.5em auto;
}

.theme-check {
	margin: 1em auto;
	border: 1px solid #c3c4c7;
	background: #fff;
}

.theme-check h2 {
	font-size: 20px;
}

.theme-check form {
	margin-left: 1.5em;
}

.theme-check li {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.7;
}

.theme-info {
	border-top: 1px solid #c3c4c7;
	display: flex;
	justify-content: space-between;
	padding: 1em;
	min-height: 180px;
}

.theme-info p {
	font-size: 16px;
	margin: .5em 0;
}

.running-tests {
	border-top: 1px solid #c3c4c7;
	font-size: 16px;
	padding: 1em;
}

.tc-box {
	padding: 1em;
	border-top: 1px solid #c3c4c7;
}

.tc-box p {
	font-size: 16px;
}

.theme-check input[name="s_info"],
.theme-check input[type=submit] {
	margin-left: 0.5em;
}
